 <hr />
  <footer>
    <p><a href="" target="_blank">PS</a> 2016</p>
  </footer>
</div>
</body>
<script src="/javascripts/jquery-3.0.0.js"></script>
<script src="/javascripts/bootstrap.js"></script>
</html>